* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.d-flex {
  width: 10%;
}

.table__show {
  display: flex;
  margin-top: 25px;
}

#my__order {
  border-radius: 5px;
  font-size: 20px;
  background-color: greenyellow;
  margin: 10px;
  padding: 5px;
}

.submit__button {
  margin: 5px;
  font-size: 18px;
  text-align: center;
  padding: 2px;
  background-color: black;
  color: white;
  border-radius: 5px;
}